$color-negro: #000000;
$color-rojo: #FF0000;
$color-blanco: #FFFFFF;
$color-gris: rgb(202, 202, 202);
$color-azul: #0000FF;
$color-verde: #006400;
$color-celeste: #00BFFF;
$font-principal: "Verdana", sans-serif;

/* Reinicio de css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Cierre de reinicio de css */


/*========Para que el footer quede abajo========*/
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;

}

/*========cierre footer abajo========*/



/*Para index y paginas*/


/**imagen de logo**/
.logo {
    width: 100px;
}

/**cierre imagen de logo**/

/*Color de fondo gris*/
.body {
    background-color: $color-gris;
}

/*Cierre Color de fondo gris*/

/*Resultados de busqueda en secciones*/
.resultados-strong {
    margin: 10px;
}

/*Cierre Resultados de busqueda en secciones*/


/*Redes*/
.titulo-redes {
    font-size: 20px;
}

/*Institucional*/
.quienes-somos {
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

/*Institucional*/

/*Ayuda*/
.preguntas-frecuentes {
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

/*Cierre ayuda*/


/*Redes sociales*/
.icono-facebook {
    color: $color-azul;
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

.icono-instagram {
    color: $color-rojo;
    display: flex;
    gap: 4px;
    font-size: 15;
    margin-top: 20px;
}

.icono-twitter {
    color: $color-celeste;
    display: flex;
    gap: 4px;
    font-size: 15;
    margin-top: 20px;
}

/*Cierre Redes sociales*/

/*Centro atencion al cliente*/
.dias-atencion {
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

.icono-contacto {
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

.icono-whatsapp {
    color: $color-verde;
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}


.icono-telefono {
    display: flex;
    gap: 8px;
    font-size: 15;
    margin-top: 20px;
}

/*Cierre centro atencion al cliente*/

/*Cierre redes*/

/*Color titulo*/
.header-titulo {
    color: $color-blanco;
}

/*Cierre Color titulo*/

@media(min-width:400px) and (max-width:1020px) {

    /*Redes*/
    .titulo-redes {
        font-size: 15px;

    }

    /*Institucional*/
    .quienes-somos {
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    /*Institucional*/

    /*Ayuda*/
    .preguntas-frecuentes {
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    /*Cierre ayuda*/


    /*Redes sociales*/
    .icono-facebook {
        color: $color-azul;
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    .icono-instagram {
        color: $color-rojo;
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    .icono-twitter {
        color: $color-celeste;
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    /*Cierre Redes sociales*/

    /*Centro atencion al cliente*/
    .dias-atencion {
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    .icono-contacto {
        display: flex;
        gap: 8px;
        font-size: 10;

    }

    .icono-whatsapp {
        color: $color-verde;
        display: flex;
        gap: 8px;
        font-size: 10;
    }


    .icono-telefono {
        display: flex;
        gap: 8px;
        font-size: 10;
        margin: 15px;
    }

    .caja-redes {
        gap: 20px;
    }

    /*Cierre centro atencion al cliente*/

    /*Cierre redes*/

    /*Cierre media*/
}