/*========Footer Redes Sociales========*/
.caja-redes {
    display: flex;
    margin-top: 50px;
    font-size: 13px;
    width: 100%;
    justify-content: center;
}

.span-redes {
    font-size: 20px;
}

/*========Cierre footer redes sociales========*/


/*========Estilos al footer========*/
.pie-de-pagina {
    background-color: $color-negro;
    color: $color-blanco;
    text-align: center;
}

/*========Estilos al footer========*/