/*Header*/
.header {
    background-color: $color-negro;
    color: $color-blanco;
    padding: 16px;
}

.publicidad-predator {
    width: 100%;
}

.titulo {
    background-color: $color-gris;
}

.zapatour-h1 {
    color: $color-negro;
}

/*----Cierre de Header----*/